.header {
  padding: 1em;
  background: #c6d5de;

  .flex-row {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 0.5em;
      width: 3em;
      height: 3em;
    }

    h1 {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }

  .header-p {
    margin: 0.5em 0;
  }
}
